@import "./header/header.scss";
@import "./banner/banner.scss";
@import "./categories/Categories.scss";
@import "./relatedProducts/Title.scss";
@import "./relatedProducts/Tags.scss";
@import "./relatedProducts/Products.scss";
@import "./relatedProducts/Modal.scss";
@import "./partners/Partners.scss";

*{
    box-sizing: border-box;
    margin: 0;
}
.App{
    justify-items: center;
}