.ProductsList{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 1300px;
    height: 500px;
}
.ControlButtons{
    width: 1370px;
        button{
            border:none;
            background-color: rgba(255, 255, 255, 0);
            height: 32px;
            width: 32px;
            cursor: pointer;
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 10;
        }
}
.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
        .product-card{
            background-color: white;
            align-items: center;
            border: solid rgba(0, 0, 0, 0.178) 1px;
                img{
                    width: 278px;
                    height: 278px;
                }
        }
    
}