.RelatedTitleContainer{
    margin-top: 40px;
    width: 1300px;
    height: 72px;
    justify-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
        h3{
            font-size: 30px;
            font-style: bold;
            color: #3442B5;
        }
        a{
            text-decoration: none;
            font-size: 15px;
            color: #3F3F40;
            font-style: bold;
            font-weight: 600;
        }
}